mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  min-width: 300px;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  border: solid 0.5px #d8d8d8;
  box-shadow: 5px 10px 30px #c7c6c6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
